*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-brand: #ffe550;
  --pressed-state: #bbf330;
  --main-color: #fefefe;
  --text: #2c2c2c;
  --color-text: #7eb101;
  --modal-text-color: #c4c4c4;
  --modal-background-color: #ffffff;
}
body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.page-header {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-container {
  justify-content: space-between;
}
.menu-list {
  display: flex;
  gap: 28px;
  margin-right: 30px;
}
.menu-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--dark);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}
.current-link {
  color: var(--pressed-state);
  text-decoration: underline;
  font-weight: 700;
}
.current-link:hover,
.current-link:focus {
  color: var(--primary-brand);
}
.order-btn {
  display: block;
  cursor: pointer;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  padding: 6px 18px;
  border-radius: 30px;
  border: transparent;
  background-color: var(--pressed-state);
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--primary-brand);
}

.section-hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 27px;
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  width: 515.3px;
  color: var(--text);
  margin-bottom: 28.8px;
}
.favorite-food {
  width: 511px;
  height: 511px;
  padding: 13px 13px;
  border-radius: 50%;
  border: 14px solid var(--primary-brand);
}
.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.paragraph-hero {
  width: 515.3px;
  margin-bottom: 46.33px;
}
.paragraph-offerings {
  width: 500px;
  margin-bottom: 40px;
}
.paragraph-offerings-item {
  margin-bottom: 58px;
}
.title-item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: var(--text);
  margin-bottom: 16px;
}
.section-offerings {
  background-color: var(--primary-brand);
}
.offerings-img {
  width: 502px;
  height: 526px;
  padding: 24px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.offerings-container {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.offerings-img {
  margin-right: 126px;
}
.offerings-list {
  display: flex;
  align-items: center;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: var(--text);
}
.section-offerings-title {
  width: 526.17px;
  margin-bottom: 20px;
}
/* .paragraph-offerings-item" {
  width: 253px;
} */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  background-image: url('/food-delivery/images/fruit-futer.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1211px 266px;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}
.email {
  margin-left: auto;
}
.footer-logo {
  margin-right: 148px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-list {
  display: flex;
  gap: 20px;
}
.info-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6667;
  color: var(--color-text);
}
.info-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6667;
  color: var(--text);
}
.form-email {
  display: flex;
  align-items: flex-end;
}
label {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.privat-policy {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.label-email {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text);
  row-gap: 12px;
}

.input-email {
  width: 279px;
  height: 42px;
  left: 869px;
  top: 3714px;
  font-family: 'Roboto', sans-serif;
  background: var(--main-color);
  border: 0.854167px solid var(--primary-brand);
  border-radius: 30px;
  padding: 12px 61.5px 12px 12px;
}
.input-email:hover,
.input-email:focus {
  border: 0.854167px solid var(--color-text);
}
.subscribe-btn {
  display: inline;
  font-family: 'Roboto', sans-serif;
  min-width: 103px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text);
  background: var(--main-color);
  border: 0.854167px solid var(--color-text);
  border-radius: 30px;
  height: 42px;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  border: 2px solid var(--primary-brand);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  transition: opacity var(--transition-duration-and-function),
    visibility var(--transition-duration-and-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-brand);
  width: 458px;
  min-height: 449px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 32px;
  transition: transform var(--transition-duration-and-function);
}
.contact-form-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--text);
  margin-bottom: 20px;
  text-align: center;
}

.form-field {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text);
  margin-bottom: 2px;
  margin-left: 12px;
  margin-right: 0;
}
.contact-form-input {
  display: block;
  width: 100%;
  height: 48px;
  background-color: var(--modal-background-color);
  border: none;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  outline: transparent;
  padding-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--modal-text-color);
  margin-bottom: 24px;
  transition: border-color var(--transition-duration-and-function),
    color var(--transition-duration-and-function),
    background-color var(--transition-duration-and-function);
}
.contact-form-input:hover,
.contact-form-input:focus {
  border: 1px solid var(--color-text);
  color: var(--text);
  background-color: var(--modal-background-color);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  background-color: var(--modal-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: transparent;
}

.contact-form-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text);
  cursor: pointer;
  min-width: 106px;
  height: 40px;
  background-color: var(--modal-background-color);
  border: none;
  border: 2px solid var(--color-text);
  border-radius: 30px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--transition-duration-and-function);
}
.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: var(--pressed-state);
}
